.weatherNextDays {
    background-color: #100e1d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .weatherCardList {
    display: grid;
    grid-gap: 26px;
    justify-content: center;
    
    @media (max-width: 480px) {
      grid-template-columns: repeat(2, 120px);
      grid-template-rows: repeat(3, 177px);
    }
    @media(min-width: 481px){
      grid-template-columns: repeat(5, 120px);
    }
  }