.weatherCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 120px;
    height: 177px;

    background: #1e213a;

    .cardTitle {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: #E7E7EB;
      }
  }