@media only screen and (min-width: 701px) {
  /* Appareils avec une résolution au-dessus de 500px */

#app{
  width: 100%;
  height: 70%;
  color: #E7E7EB;
  background: #100E1D;
}

 
/*---------------------Sidebar---------------------*/
.sidebar{
  position: absolute;
  display: flex;
  flex-direction: column;
  
    
  justify-content: space-around;
  align-content: center;
  
  width: 30%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: #1E213A; 
}
.blank{
  height: 20%;
}
.weatherImgBig{
  display: flex;
  width: 100%;
  
  justify-content: center;
  align-content: center;

}
.todayTemp{
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 144px;
  line-height: 169px;
  color: #E7E7EB;
}
.todayWeatherSateName{
  
  width: 100%;
  
  left: 165px;
  top: 768px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-align: center;

  line-height: 42px;
  text-align: center;

  color: #A09FB1;
}
.todayDate {
  
  width: 100%;
 
  
  
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #88869D;

}

.place{
  
  width: 100%;
  
  
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #88869D;
}
/*---------------------SideBarSearchForm---------------------*/
#sideBarSearchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 0;
  width: 30%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #1E213A;
  
}
.searchInput{
  width: 268px;
  height: 48px;
  left: 47px;
  top: 82px;
}
.searchButton{     
  width: 86px;
  height: 48px;
  left: 327px;
  top: 82px;
  background-color: #3C47E9;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #E7E7EB;
  border:none;
}
.searchResults{
  width: 100%;
  overflow-y: scroll;
}
.searchResult {
  width: 100%;
  height:64px;
  border:1px solid #616475;
  background-color:#1E213A;
  font-family:"Raleway";
  font-size:16px;
  text-align:left;
  color:#E7E7EB;
  border-radius: 2px;
}
/*---------------------Main---------------------*/
.main {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 70%;
  height: 100%;
  left: 30%;
  top: 0px;

  background: #100E1D;
  
 justify-content: center;
}
.cardTitle{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  text-align: center;
  
  color: #E7E7EB; 
}

.weatherCardPart {
  display: flex;
  
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 50%;
  height: 20%;
  margin-top: 1%;
  background-color: #100E1D;
}
.weatherCardList{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
/*All days cards*/
.weatherCard{
  display: flex;
  flex-direction: column;
  width: 120px ;
  height: 177px ;
  background-color: #1E213A;
  justify-content: center;
  align-items: center; 
  margin: 10px;
}
.tempInterval {
  width: 100%;
}

/*Today's cards*/
.highlightsPart{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 80%;
  height: 60%;
  background-color: #100E1D;
}
.todaysCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width:  100%;
  height: 100%;
}
.todaysCards > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.highlights{
  padding: 10px;
  width: 100%;
  
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #E7E7EB;
}

.windStatusCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

  width: 328px;
  height: 204px;
  
  background: #1E213A;
}

.humidityCard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  
  
  width: 328px;
  height: 204px;
  
  background: #1E213A;
}

.visibilityCard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  width: 328px;
  height: 159px;

  background: #1E213A;
}

.airPressureCard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  width: 328px;
  height: 160px;
  

  background: #1E213A;
}

.cardData{
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #E7E7EB;
}

.footer{
  
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:20px;
  height:20px;
  color: #E7E7EB;
}
}

/**************************************************************************/
/*Small screen*/

@media only screen and (max-width: 700px) {
  #app{
    width: 100%;
    height: 100%;
    color: #E7E7EB;
    overflow-x: none;
  }
  
  /*---------------------Sidebar---------------------*/
  .sidebar{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 810px;
    left: 0px;
    top: 0px;
    
    justify-content: space-around;
    align-content: space-around;
    background: #1E213A;
  }
  

  .weatherImgBig{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 174px;
    align-content: center;
  }
  .todayTemp{
    
    width: 100%;
    height: 169px;
   

    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 144px;
    line-height: 169px;
    text-align: center;
    /* identical to box height */
  }
  .todayWeatherSateName{
    
   
    width: 100%;
    height: 42px;
    left: 133px;
    top: 540px;
    
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: #A09FB1;
  }
  .todayDate {
    
    width: 100%;
    height: 21px;
    

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #88869D;
  
  }
  
  .place{
    
    width: 100%;
    height: 21px;
    
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #88869D;
  }
  /*---------------------SideBarSearchForm---------------------*/
  #sideBarSearchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 1023px;
    left: 0px;
    top: 0px;
    background: #1E213A;   
  }
 
  .searchInput{
    width: 268px;
    height: 48px;
    left: 47px;
    top: 82px;
  }
  .searchButton{     
    width: 86px;
    height: 48px;
    left: 327px;
    top: 82px;
    background-color: #3C47E9;
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #E7E7EB;
    border:none;
  }
  .searchResults{
    width: 100%;
    overflow-y: scroll;
  }
  .searchResult {
    width: 100%;
    height:64px;
    border:1px solid #616475;
    background-color:#1E213A;
    font-family:"Raleway";
    font-size:16px;
    text-align:left;
    color:#E7E7EB;
    border-radius: 2px;
  }
  /*---------------------Main---------------------*/
  .main {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    
    width: 100%;
    height: 2000px;
    left: 0px;
    top: 810px;

    background: #100E1D;
    
  }
  .weatherCardPart{
    width: 80%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
  }
  .cardTitle{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    
    color: #E7E7EB; 
  }
  
  .weatherCardList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
   
  }
  /*All days cards*/
  .weatherCard{
    display: flex;
    flex-direction: column;
    width: 120px ;
    height: 177px ;
    background-color: #1E213A;
    justify-content: center;
    align-items: center; 
    margin: 13px;
  }
  .tempInterval {
    width: 100%;
  }
  
  /*Today's cards*/
  .highlightsPart{
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .highlights{
    width: 100%;
    height: 28px;
    margin-top: 20px;
    margin-bottom: 10px ;
    
    text-align: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #E7E7EB;
  }
  
  .windStatusCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    width: 328px;
    height: 204px;
    
    margin: 20px;
    
    background: #1E213A;
  }
  
  .humidityCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    width: 328px;
    height: 204px;
    
    margin: 20px;
    background: #1E213A;
  }
  
  .visibilityCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    width: 328px;
    height: 204px;
    margin: 20px;
    background: #1E213A;
  }
  
  .airPressureCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    width: 328px;
    height: 204px;
    margin: 20px;
    background: #1E213A;
  }
  
  .cardData{
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #E7E7EB;
  }

  .footer{
  
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:20px;
    height:50px;
    color: #E7E7EB;
  }
 }